
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; 
}
body{
    background-color: rgb(119, 114, 114);
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    width: 80;
    height: 80;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header h1{
      font-size: 4cm;
      text-transform: uppercase;
      color: var(--textColor);

}
.product{
    width: 100;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product{
    position: relative;
    background-color:rgb(238, 226, 211);
    width: 350px;
    height: 100%;
    box-shadow: 0 50px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.product:hover{
    transform: translateY(-15);
    box-shadow: 0 5px 10px black;
}
.image img{
    width: 250;
    border-radius: 15px;
}
.namePrice{
    width: 100;
    display: flex;
    justify-content: space-between;

}
.namePrice h3{
    font-size: 2cm;
    text-transform: capitalize;
    color: var(--textColor)
}
.namePrice span{
    font-size: 1.5cm;
    color: var(--starColor)
}
.product p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3cm;
    color: var(--starColor)
}
.buy{
    position: absolute;
    bottom: 20px;
    right:20px;
}
.buy button{
    color:aliceblue;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: black;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.buy button:hover{
    transform: scale(1.1);
}
img:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
}
h3:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
    color:black;
}
h2:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
    color:black;
}
p:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
    color:black;
}
h1:hover{
    transform:scale(1.02);
    box-shadow: 0 8px 25px;
    color:black;
}
span{
    color: orange;
    text-align: right;
}
